.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form input {
  margin: 10px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  width: 250px;
}

.form button {
  margin: 50px;
  padding: 15px;
  width: 250px;
}
